body {
    background-color: #9c9695;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.card{
    background-color: #f9907d;
    box-shadow: inset 5px 5px 12px #f0dfdf, 5px 5px 12px rgb(0,0,0,0);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display{
    background-color: #f5cec7;
    box-shadow: inset 2px 3px 11px #8f8c8c, 5px 5px 12px rgba(21, 15, 15, 0);
    height: 30%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center ;
}

.display input{
    background-color: transparent;
    border: none;
    text-align: end;
    font-size: 30px;
    width: 90%;
    outline: none;
}

.button{
    height: 70%;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.tombol-kiri{
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
}

.tombol{
    background-color: #f1f3f5;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgb(0,0,0,0);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    color: tomato;
    font-size: medium;
}

.tombol:hover{
    transform: scale(0.9);
}

.tombol-kanan{
    border-radius: 20px;
    background-color: rgb(233, 188, 43);
    box-shadow: inset 5px 5px 12px rgb(214, 118, 8), 5px 5px 12px #faf7cf;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}