*{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif ;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #c9fdd7;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    margin: 20px;
    text-align: center;
    justify-content: center;
}
.container {
    width: 30px;
    height: 50px;
    padding: 250px;
    border-radius: 20px;
    background: #96eab7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textarea {
    width: 100%;
    height: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: solid black 0.2px;
    color: black;
}
button {
    background-color: #b9e3c6;
    margin: 2px;
    width: 70px;
    border-radius: 10px;
    height: 60px;
}